* {
    margin: 0;
    padding: 0;
}

#can {
    top: 0;
    left: 0;
    outline: none;
    position: fixed;
}

html {
    background: #FDFBD4;
}

.section {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #C05800;
    text-transform: uppercase;
    font-size: 4vmin;
    padding-left: 10%;
    padding-right: 10%;
}

.section:nth-child(odd) {
    justify-content: flex-end;
}